<style type="text/css">

<!--

p {  

	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS; 
	font-size: 12px;
	line-height: 180%;
	color: #3b3b3b;
	

}

blockquote {  

	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS; 
	font-size: 11px; 

}

td {  

	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS; 
	font-size: 12px; 
	line-height: 180%;
	color: #3b3b3b;

}

.directions {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 9px;
	color: #8c4019;
	line-height: 180%;
}

.titlered1 {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 13px;
	color: #9f5328;
	line-height: 160%;
	font-weight:bold;
}

.titlered2 {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 12px;
	color: #9f5328;
	line-height: 160%;
	font-weight:bold;
	text-decoration: underline;
}

.titleblue1 {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 13px;
	color: #54709d;
	line-height: 160%;
	font-weight:bold;
}

.titleblue2 {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 12px;
	color: #54709d;
	line-height: 160%;
	font-weight:bold;
	text-decoration: underline;
}

.titleblue3 {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 13px;
	color: #aec8f5;
	line-height: 160%;
	font-weight:bold;
}


.titlegold1 {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 13px;
	color: #f1c781;
	line-height: 160%;
	font-weight:bold;
}


.callouttext {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 11px;
	color: #ffffff;
	line-height: 160%;
}

.callouttext b {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 11px;
	color: #f4d28f;
	line-height: 160%;
	font-weight:bold;
}

.smallprint {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 11px;
	color: #666666;
	line-height: 140%;
}



.yellow:a {
	color: #e9ba66;

}

.footer {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 9px;
	color: #eb8e52;
}

.footer a {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 10px;
	color: #eb8e52;
}

.footer a:hover {
	font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS;
	font-size: 10px;
	color: #ffffff;
	text-decoration: overline underline;
}

h1 {  

font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS; 
font-size: 12px;
color: #330000 
line-height: 110%; 

}

h2 {  

font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS; 
font-size: 14px;
color: #FF0000 

}

h4 {  

font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS; 
font-size: 12pt;
color: #990000 

}

h5 {  

font-family: Tahoma, Arial, Verdana, tahoma, trebuchet MS; 
font-size: 8px;
color: #000000 

}

a {  

	text-decoration: none;
	color: #4d6696

}

a:hover {  

	color: #97471d;
	text-decoration: overline underline;

}

td.desc {

	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 9pt;

}

table.page {
	border-width: 0px 0px 0px 0px;
	border-spacing: 2px;
}

table.page td {
	border-width: 0px 0px 0px 0px;
	padding: 30px 30px 30px 40px;
}

table.callout {
	border-width: 0px 0px 0px 0px;
	border-spacing: 2px;
}

table.callout td {
	border-width: 0px 0px 0px 0px;
	padding: 10px 10px 10px 15px;
}

table.nopad {
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
}

table.nopad td {
	border-width: 0px 0px 0px 0px;
	padding: 0px 0px 50px 0px;
}

.bullet {list-style-image: url(/images/bullet.gif);}



-->


</style>